
<template name='navbar2'>
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="{{pathFor 'home'}}">Robocop</a>
        </div>

        <div class="navbar-collapse collapse navbar-inverse-collapse">
            {{#if currentUser}}
                {{>logout}}
            {{else}}
                {{>login}}
            {{/if}}
        </div>
    </div>
</template>