<template name='report'>
    <div class='container'>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="page-header">
                    <h1 id="forms">New Report</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="well bs-component">
                <form id ='reportForm' class="form-horizontal" abineguid="49909B7A65664C7A84BFD5B151C27F08">
                    <fieldset>
                        <legend>Admin</legend>
                            <div class="form-group">
                            	<label for="title" class="col-lg-2 control-label">Title</label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="title" name="title" placeholder="Title" value ="{{title}}">
                                </div>
                            </div>

                            <!-- Needs for and placeholders -->
                            <div class="form-group">
                                <label for="datetimepicker1" class="col-lg-2 control-label">Time Began</label>

                                <div class="container">
                                    <div class='col-sm-6'>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker1'>
                                                <input id='beginTime' name='beginTime' type='text' class="form-control" value="{{timeBegan}}"/>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#datetimepicker1').datetimepicker();
                                        });
                                    </script>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="datetimepicker1" class="col-lg-2 control-label">Time Ended</label>
                                
                                <div class="container">
                                    <div class='col-sm-6'>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker2'>
                                                <input id ='endTime' name ='endTime' type='text' class="form-control" value="{{timeEnd}}"/>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#datetimepicker2').datetimepicker();
                                        });
                                    </script>
                                </div>
                            </div>



                            <div class="form-group">
                                <label class="col-lg-2 control-label">Location:</label>

                                <div class="col-sm-5"><input type="text" class="form-control" id="us2-address" name='location'/></div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Radius:</label>

                                <div class="col-sm-2"><input type="text" class="form-control" id="us2-radius" name='radius'/></div>
                            </div>
                            <div class='form-group'>
                                <label for="us2" class="col-lg-2 control-label"></label>

                                <div class='col-sm-6'>
                                    <div id="us2" style="width: 550px; height: 400px;"></div>
                                    <div class="clearfix">&nbsp;</div>
                                    <div class="m-t-small">
                                        <label class="p-r-small col-sm-1 control-label">Lat.:</label>

                                        <div class="col-sm-3"><input type="text" class="form-control" style="width: 110px" id="us2-lat"/></div>
                                        <label class="p-r-small col-sm-1 control-label">Long.:</label>

                                        <div class="col-sm-3"><input type="text" class="form-control" style="width: 110px" id="us2-lon"/></div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <script>$('#us2').locationpicker({
                                location: {latitude: 40.00382400000001, longitude: -83.00836800000002},
                                radius: 300,
                                inputBinding: {
                                    latitudeInput: $('#us2-lat'),
                                    longitudeInput: $('#us2-lon'),
                                    radiusInput: $('#us2-radius'),
                                    locationNameInput: $('#us2-address')
                                },
                                enableAutocomplete: true
                            });</script>

                            <div class="form-group">
                                <label for="textArea" class="col-lg-2 control-label">Narrative</label>
                                <div class="col-lg-10">
                                    <textarea class="form-control empty" rows="3" id="textArea"></textarea>
                                    <span class="help-block">Describe the event in clear detail</span>
                                </div>
                            </div>
                       
                        <legend>Victims</legend>

                            <div class="form-group">
                                <label for="time" class="col-lg-2 control-label">Drivers License</label>
                                <div class="col-lg-10">
                                    <input style="" placeholder="Profile Picture" class="edittextbox" type="file" onchange="populate()" name="img">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="time" class="col-lg-2 control-label">First Name</label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="inputFNAME" placeholder="First Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="time" class="col-lg-2 control-label">Last Name</label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="inputLNAME" placeholder="Last Name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="datetimepicker3" class="col-lg-2 control-label">DOB</label>
                                
                                <div class="container">
                                    <div class='col-sm-6'>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker3'>
                                                <input id ='dateOfBirth' name ='dateOfBirth' type='text' class="form-control" value="{{dateOfBirth}}"/>
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#datetimepicker3').datetimepicker({
                                                inline: true,
                                                format: "MM/DD/YYYY"
                                            });
                                        });
                                    </script>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">Race</label>
                                <div class="col-lg-10">
                                    <div class="radio radio-primary">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="A" checked=""><span class="circle"></span><span class="check"></span>
                                            Asian / Pacific Islander
                                        </label>
                                    </div>
                                    <div class="radio radio-primary">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="B"><span class="circle"></span><span class="check"></span>
                                            Black
                                        </label>
                                    </div>
                                    <div class="radio radio-primary">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="I"><span class="circle"></span><span class="check"></span>
                                            Native American or American Indian
                                        </label>
                                    </div>
                                    <div class="radio radio-primary">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios4" value="W"><span class="circle"></span><span class="check"></span>
                                            White
                                        </label>
                                    </div>
                                    <div class="radio radio-primary">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios5" value="U"><span class="circle"></span><span class="check"></span>
                                            Unknown
                                        </label>
                                    </div>
                                </div>
                            </div>

                    
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Sex</label>
                                <div class="col-lg-10">
                                    <div class="radio radio-primary">
                                        <label>
                                            <input type="radio" name="optionsRadios3" id="optionsRadios11" value="M" checked=""><span class="circle"></span><span class="check"></span>
                                            Male
                                        </label>
                                    </div>
                                    <div class="radio radio-primary">
                                        <label>
                                            <input type="radio" name="optionsRadios3" id="optionsRadios21" value="F"><span class="circle"></span><span class="check"></span>
                                            Female
                                        </label>
                                    </div>
                                    <div class="radio radio-primary">
                                        <label>
                                            <input type="radio" name="optionsRadios3" id="optionsRadios21" value="U"><span class="circle"></span><span class="check"></span>
                                            Unknown
                                        </label>
                                    </div>
                                </div>
                            </div>


                        <legend>Property</legend>
                        	<div class="form-group">
                                <label for="time" class="col-lg-2 control-label">Item Type</label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="inputEmail" placeholder="Item Type">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="time" class="col-lg-2 control-label">Make</label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="inputEmail" placeholder="Make">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="time" class="col-lg-2 control-label">Model</label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="inputEmail" placeholder="Model">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="time" class="col-lg-2 control-label">Value $$</label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="inputEmail" placeholder="Value" value="$">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="time" class="col-lg-2 control-label">Description</label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="description" name='description' placeholder="Description" value="{{description}}">
                                </div>
                            </div>

                        <legend>Offenses</legend>

                        	<div class="form-group">
                                <label for="time" class="col-lg-2 control-label">Ohio Revised Code</label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="ohioRevisedCode" name ='ohioRevisedCode' placeholder="Ohio Revised Code" value="{{ohioRevisedCode}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="time" class="col-lg-2 control-label">Section Number</label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="sectionNumber" name='sectionNumber' placeholder="Section Number" value="{{sectionNumber}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="time" class="col-lg-2 control-label">Video File</label>
                                <div class="col-lg-10">
                                    <input style="" placeholder="Profile Picture" class="edittextbox" type="file" name="img">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="time" class="col-lg-2 control-label">Audio File</label>
                                <div class="col-lg-10">
                                    <input style="" placeholder="Profile Picture" class="edittextbox" type="file" name="img">
                                </div>
                            </div>
           
                        <button id='' class="btn btn-primary" onclick="done()">Submit</button>

                    </fieldset>
                </form>

            </div>
        </div>
    </div> <!-- end div class row -->


<script type="text/javascript">
$(document).ready(function(){

    $('#newReport').submit(function(event){
        event.preventDefault();

    });

});
function populate(){
    window.setTimeout(partB,2500);
}
function partB(){
    document.getElementById("inputFNAME").value = "Alle";
    document.getElementById("inputLNAME").value = "White";
    document.getElementById("optionsRadios4").checked = true;
    document.getElementById("optionsRadios11").checked = true;
    document.getElementById("dateOfBirth").value = "02/28/1993"
    //var dateOfBirth = event.target.dateOfBirth.value;

}
function done(){
    window.setTimeout(partc,2500);   
}
function partc(){
    window.location.assign("/done");
}
</script>

</template>

